{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#4286f4; color:white">
  <div class="container">
    <div class="row">
      <h1>chatboat</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>

  <div id="signin">
    <form action="/App/EnterChat">
      <p class="form-group">
        <label for="nick">Choose a nick name:</label>
        <input type="text" class="form-control" name="user" id="user">
      </p>
        <input type="submit" id="enter" class="btn btn-default" value="Enter the chat room">
      </p>
    </form>
  </div>
</div>

{{template "footer.html" .}}
