{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#4286f4; color:white">
  <div class="container">
    <div class="row">
      <h1>chatboat</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>

  <h1>{{.myMsg}}</h1>
  <div class="row">
    <form class="span2" action="/App/Post" method="GET">
      <input type="text" name="myMsg" /><br/>
      <input type="submit" value="Post" />
    </form>
  </div>
</div>

{{template "footer.html" .}}
