{{set . "title" "Chat room"}}
{{template "header.html" .}}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Chatboat
      </a>
     </div>
     <p class="navbar-text">You are now chatting as {{.user}}</p>
     <p class="navbar-text navbar-right"><a href="/" class="navbar-link">Leave the chat room</a></p>
  </div>
</nav>
<div id="thread" class="container">
  <script type="text/html" id="message_tmpl">
    {{raw "<%"}} if(event.Type == 'message') { %>
      <div class="message <%= event.User == '{{.user}}' ? 'you' : '' %>">
        <h2>{{raw "<%"}}= event.User %></h2>
        <p>
          {{raw "<%"}}= event.Text %>
        </p>
      </div>
    {{raw "<%"}} } %>
    {{raw "<%"}} if(event.Type == 'join') { %>
      <div class="message notice">
        <p>
          {{raw "<%"}}= event.User %> joined the room
        </p>
      </div>
    {{raw "<%"}} } %>
    {{raw "<%"}} if(event.Type == 'leave') { %>
      <div class="message notice">
        <p>
          {{raw "<%"}}= event.User %> left the room
        </p>
      </div>
    {{raw "<%"}} } %>
    {{raw "<%"}} if(event.Type == 'quit') { %>
      <div class="message important">
        <p>
          You are now disconnected!
        </p>
      </div>
    {{raw "<%"}} } %>
  </script>

  <div class="form-inline">
    <div id="newMessage" class="container form-group">
      <input type="text" id="message" autocomplete="off" class="form-control" autofocus>
      <input type="submit" value="send" id="send" class="btn btn-default">
    </div>
  </div>
</div>
<img id="gif" src="">
<script type="text/javascript">

  function do_gif() {
    var giphy = $.get("http://api.giphy.com/v1/stickers/random?tag=uh&api_key={{.api}}");
    giphy.done(function(data) { 
      var sticker_url = data.data.image_url;
      $("#gif").attr('src', sticker_url);
      $("#gif").show();
      setTimeout(() => $("#gif").fadeOut(2000), 3000);
    });
  }

  function bye_gif() {
    var sticker_url = "https://media.giphy.com/media/RKPdwOKbVDEkg/giphy.gif";
    $("#gif").attr('src', sticker_url);
    $("#gif").show();
    setTimeout(() => $("#gif").fadeOut(2000), 3000);
  }

  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/websocket/room/socket?user={{.user}}')
  // Display a message
  var display = function(event) {
    $('#thread').append(tmpl('message_tmpl', {event: event}));
    $('#thread').scrollTo('max')
    if (event.Text.toLowerCase() == "random gif ⛵️") {
      do_gif()
    }
    if (event.Type == 'leave') {
      bye_gif()
    }
  }
  //Message received on the socket
    socket.onmessage = function(event) {
    display(JSON.parse(event.data))
  }
  $('#send').click(function(e) {
    var message = $('#message').val()
    $.post('Websocket/Post', {msg: encodeURI(message), user:encodeURI({{.user}})}, (r)=>{})
    $('#message').val('')
  });
  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })
</script>
